.list {
    /*background-color: red;*/
}

.item {
    margin: 1%;
    min-height: 40px;
    overflow: hidden;
}

.title {
    display: flex;
    justify-content: space-between;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-height: 20px;
}

.button {
    user-select: none;
    transition: all 0.5s;
}

.actionArea {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.buttonAction {
    border-radius: 25px;
    width: fit-content;
    margin-bottom: 5px;
}

.button .buttonHoveredTooltip {
    display: flex;
    height: 20px;
    align-items: center;
    max-width: 0;
    overflow: hidden;
}

.button:hover {
    background-color: #2D2C59 !important;
}

.button:hover .buttonHoveredTooltip {
    max-width: fit-content;
}

.filters {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 1%;
    padding: 10px 12px 9px;
    width: 100%;
    height: 50px;
    border-radius: 3px;
    background-color: #2a333e;
}

.filters2 {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    margin: 1%;
    width: 100%;
    height: 40px;
    border-radius: 3px;
    background-color: #2a333e;
}

.filters * {
    flex-shrink: 0;
}

.filters :nth-child(n+2) {
    margin-left: 5px;
}

.filterTextInput {
    width: auto;
    flex-shrink: 1;
    flex-grow: 1;
    margin-right: 10px;
}

.filterTextInfo {
    text-align: right;
    margin-top: auto;
    margin-bottom: 0;
}

.filterLabel {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
}

.filterProperty {

}

.line {
    display: flex;
    justify-content: space-between;
    padding: 2px;
    border-bottom: 1px solid #2D2C59;
}

.lineLeft {
    color: #D5D8EC;
}

.lineRight {

}

.header {
    font-family: "Maven Pro", sans-serif;
    position: -webkit-sticky;
    position: sticky;
    text-align: center;
    top: -15px;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}