.pilot {
    position: relative;
    width: 100%;
}

.pilotBottom {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 40px;
}

.pilotActions {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.pilotActionsVertical {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
}