.dashboard {
    /* top: 100vh */
    position: absolute;
    pointer-events: auto;
    display: grid;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    grid-template-columns: minmax(250px, 1fr) 4fr;
    grid-template-rows: 45px auto;
    grid-gap: 5px;
    padding: 0 5px 5px;
}

@media only screen and (max-width: 700px) {
    .dashboard {
        /* top: 100vh */
        position: absolute;
        pointer-events: auto;
        display: grid;
        width: 100vw;
        height: fit-content;
        grid-template-columns: 1fr;
        grid-template-rows: 45px auto;
        grid-gap: 5px;
        padding: 0 5px 5px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
}

.dashboardNotifs {
    /* top: 100vh */
    width: 75vw;
    height: 100vh;
}

.dashboardNoNotifs {
    /* top: 100vh */
    width: 100vw;
    height: 100vh;
}

.inside {
    position: relative;
    height: 100%;
    padding-bottom: 50px;
    overflow-y: scroll;
    overflow-x: hidden;
}

@media only screen and (max-width: 700px) {
    .inside {
        height: fit-content;
        overflow-y: visible;
        overflow-x: hidden;
    }
}

.content {
    position: relative;
    grid-row-start: 2;
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-end: 3;
    height: 100%;
    width: 100%;
    overflow: hidden;
    pointer-events: auto;
}

.content:before {
    position: absolute;
    content: "";
    top: 0;
    z-index: 2100;
    pointer-events: none;
    background-image:
            linear-gradient(to top,
            rgba(57, 64, 83, 0) 0%,
            rgb(48, 64, 77) 25%,
            rgb(48, 64, 77) 100%);
    left: 0;
    right: 12px;
    height: 60px;
}

.content:after {
    position: absolute;
    content: "";
    bottom: 0;
    z-index: 2100;
    pointer-events: none;
    background-image:
            linear-gradient(to bottom,
            rgba(57, 64, 83, 0),
            rgb(48, 64, 77) 100%);
    left: 0;
    right: 12px;
    height: 60px;
}



@media only screen and (max-width: 700px) {
    .content {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: -1;
        grid-row-end: -1;
        height: fit-content;
        overflow: visible;
        pointer-events: auto;
        width: 100vw;
    }
}

.side {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

@media only screen and (max-width: 700px) {
    .side {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: -1;
    }
}

.background {
    background-color: rgba(237, 255, 236, 0.20);
    grid-area: 1 / 1 / -1 / -1;
    width: 100vw;
    height: 100vh;
}

.dshLeft {
    grid-area: 2 / 2 / 11 / 3;
}

.dshRight {
    grid-area: 2 / 3 / 11 / 4;
}

.dshTop {
    grid-area: 2 / 2 / 6 / 4;
}

.dshBottom {
    grid-area: 6 / 2 / 10 / 4;
}

.dshTopLeft {
    grid-area: 2 / 2 / 6 / 3;
}

.dshTopRight {
    grid-area: 2 / 3 / 6 / 4;
}

.dshBottomLeft {
    grid-area: 6 / 2 / 10 / 3;
}

.dshBottomRight {
    grid-area: 6 / 3 / 10 / 4;
}