name: End-to-end tests
on:
  push:
    branches:
      - master
      - develop
jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v1

      - name: Cypress run
        uses: cypress-io/github-action@v1
        with:
          build: npm run build
          start: npm run start-dev
          wait-on: http://localhost:2000
      - name: Upload coverage
        uses: codecov/codecov-action@v1
        with:
          fail_ci_if_error: false
      - name: Save photos
        uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: cypress-screenshots
          path: cypress/screenshots
      - name: Save videos
        uses: actions/upload-artifact@v1
        if: always()
        with:
          name: cypress-videos
          path: cypress/videos